<app-header></app-header>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{ book.name }}</td>
          <td>{{ book.description }}</td>
          <td>{{ book.owner }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="user">{{user.username}}
</div>
<button routerLink="/addbook">Add book</button>
