<app-header></app-header>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Add Book</div>
        <div class="card-body">
          <form #addbook="ngForm" (ngSubmit)="onSubmit(addbook.value)">
            <div class="col-md-6 graphicdesign illustrator photography">
              <div class="form-group">
                <label class="col-md-4 col-form-label text-md-right" for="name">Title</label>
                <input type="text" name="name" id="name" placeholder="Title" ngModel>
              </div>
            </div>
            <div class="col-md-6 graphicdesign illustrator photography">
              <div class="form-group">
                <label class="col-md-4 col-form-label text-md-right" for="description">Description</label>
                <input type="text" name="description" id="description" placeholder="Description" ngModel>
              </div>
            </div>
            <div class="col-md-6 graphicdesign illustrator photography">
              <div class="form-group">
                <label class="col-md-4 col-form-label text-md-right" for="img">Image Url</label>
                <input type="text" name="img" id="img" placeholder="Image url" ngModel>
              </div>
            </div>
            <div class="col-md-6 graphicdesign illustrator photography ml-1 mr-5">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ml-5 mr-5">
                <div class="col-md-4 col-form-label ml-5 mr-5">
                  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
