<app-header></app-header>
<h4>Editing: {{book.name}}</h4>
<form #editbook = "ngForm" (ngSubmit) = "onSubmit(editbook.value)">
  <label for="name">Title</label>
  <input type="text" [(ngModel)] = "book.name" name="name" id="name"  placeholder={{book.name}} ngModel>
  <br>
  <label for="description">Description</label>
  <input type="text" [(ngModel)] = "book.description" name="description" id="description" placeholder="{{book.description}}">
  <br>
  <button type="submit" value="submit">Save changes</button>
</form>
