
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let book of books">
      <div class="ibox">
        <div class="ibox-content product-box">
          <div class="product-imitation" style="background-image:url('{{book.imgUrl}}'); background-size: auto 100%;">
          </div>
          <div class="product-desc">
            <span class="product-price">
              {{book.status}}
            </span>
            <h5 class="product-name"> {{book.name}}</h5>
            <div class="small m-t-xs">
              {{book.description}}
            </div>
            <hr>
            <br>
            <div class="m-t text-righ grid">
              <div class="row">
                <td *ngIf="book.status =='AVAILABLE'">
                  <div class="col-sm">
                    <button class="btn btn-warning" [routerLink]="['/editBook']" [state]="book">Edit book</button>
                  </div>
                  <div class="col-sm">
                    <button class="btn btn-danger" (click)='delete(book.id)'> Delete </button>
                  </div>
                </td>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="btn btn-primary" routerLink="/addBook">Add book</button> -->
</div>
