<app-header></app-header>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Offer from</th>
          <th scope="col">Offer to</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of requests">
          <td>{{ r.userRequesting.username }} | {{ r.bookToGive.name }}</td>
          <td>{{ r.userReceiving.username }}  | {{ r.wantedBook.name }}</td>

          <td *ngIf="r.userReceiving.username == user.username">
            <button class="bt btn-primary" (click)="accept(r.requestId)">Accept</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
